button{
   padding :15px 20px;
   background:violet;
   color:white;
   border:2px solid blue;
   outline:none;
   border-radius: 5px;
   text-transform: uppercase;
   cursor:pointer;
}
div{
  width:100%;
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: antiquewhite;
}